.modal{
    height: 100vh;
    width: 100vw;
    background: #BCC3D080;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}
.modal.active{
    transform: scale(1);
}
.modal-content{
    padding: 20px;
    border-radius: 16px;
    background-color: white;
    height: 430px;
    width: 460px;
    box-shadow: 0 0 20px 0 #0000001A;
    margin-right: 13px;
    margin-top: -25px;
}
.modal-box{
    width: 100%;
    display: flex;
    height: 282px;
}
.modal-title{
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.modal-title img{
    width: 20px;
    padding-top: 14px;
    padding-right: 5px;
    overflow: visible;
}
.modal-title span{
    flex: 1;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 14px;
    padding-left: 5px;
    letter-spacing: 2px;
}
.modal-info{
    width: 137px;
    height: 188px;
    top: 54px;
    position: relative;
}
.modal-info-title{
    width: 137px;
    gap: 14px;
    display: grid;
}
.title{
    display: flex;
    height: 24px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 4px;
    letter-spacing: 2px;
}
.modal-info-text{
    height: 188px;
    top: 54px;
    position: relative;
    display: grid;
    margin-left: 40px;
}
.text{
    width: 137px;
    gap: 14px;
    display: grid;
}
.information-box{
    width: 100%;
    gap: 14px;
    display: grid;
}
.information-title{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.6px;
    margin-left: 4px;
}
.information-text{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.3px;
    margin-left: 4px;
}